## Nama : Ashadi Permana
## NIM : 2209106033
## Kelas Praktikum : A22

### Untuk Mengimport Library Pandas dan di deklarasikan ke pd

In [1]:
import pandas as pd

### Untuk Meng Read File CSV

In [2]:
df = pd.read_csv("Animes.csv")

### 1. Untuk Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [3]:
df.describe()

           position       members         score    popularity
count  21150.000000  2.307000e+04  23070.000000  23070.000000
mean   10579.527896  3.715924e+04      4.116137  11538.897659
std     6109.065325  1.533924e+05      3.165004   6662.519507
min        1.000000  0.000000e+00      0.000000      1.000000
25%     5289.250000  2.280000e+02      0.000000   5770.250000
50%    10576.500000  1.205000e+03      5.700000  11537.500000
75%    15871.750000  9.979750e+03      6.680000  17307.000000
max    21160.000000  3.562726e+06      9.120000  23080.000000

### 2. Untuk Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka

In [4]:
df.select_dtypes(include=['number']).head(10)

   position  members  score  popularity
0       1.0  3018336   9.12           3
1       2.0   687194   9.10         242
2       3.0   278650   9.08         748
3       4.0   563143   9.08         337
4       5.0  2324018   9.08          13
5       6.0  1955510   9.06          27
6       7.0   496374   9.05         383
7       8.0   116606   9.05        1622
8       9.0   294655   9.04         706
9      10.0  2500603   9.04          10

### 3. Deklarasi Dari Dictionary Informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka

In [5]:
info_dict = {
    'Jumlah Record': len(df),
    'Jumlah Atribut': len(df.columns),
    'Nama Atribut': df.columns.tolist(),
    'Jumlah Atribut dengan Tipe Angka': len(df.select_dtypes(include=['number']).columns)
}

### Menampilkan Hasil Dari Dictionary Informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka

In [6]:
print("Informasi Dataset:")
for key, value in info_dict.items():
     print(f"- {key}: {value}")

Informasi Dataset:
- Jumlah Record: 23070
- Jumlah Atribut: 14
- Nama Atribut: ['position', 'title', 'episodes', 'release_date', 'members', 'score', 'details', 'broadcast', 'studios', 'source', 'genres', 'themes', 'demographic', 'popularity']
- Jumlah Atribut dengan Tipe Angka: 4

### 4. Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir (033) hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

#### Deklarasi Dari Metode Slice 1 (menggunakan loc) 3 digit nim (033) hingga data terakhir dan kolom 4 hingga kolom terakhir

### release_date merupakan kolom ke 4 dari data

In [7]:
sliced_data_1 = df.loc[33:,"release_date":]

#### Deklarasi Dari Metode Slice 2 (menggunakan iloc) 3 digit nim hingga (033) data terakhir dan kolom 4 hingga kolom terakhir

In [8]:
sliced_data_2 = df.iloc[33:,3:]

### Hasil dari metode slice 1

In [9]:
print("Hasil Slice Menggunakan loc:")
print(sliced_data_1)

Hasil Slice Menggunakan loc:
              release_date  members  score  \
33     Jul 2001 - Jul 2001  1675950   8.78
34     Jul 2013 - Dec 2013   627148   8.77
35     Apr 2021 - Jul 2021   247367   8.77
36     Apr 2022 - Oct 2022    43501   8.77
37     Apr 1998 - Apr 1999  1683922   8.75
...                    ...      ...    ...
23065  Mar 1999 - Mar 1999      390   0.00
23066           Dec 2022 -      448   0.00
23067  Dec 2018 - Dec 2018       81   0.00
23068           Jan 2023 -       93   0.00
23069  Sep 2015 - Sep 2015       66   0.00

                                                 details  \
33     https://myanimelist.net/anime/199/Sen_to_Chihi...
34     https://myanimelist.net/anime/17074/Monogatari...
35     https://myanimelist.net/anime/44074/Shiguang_D...
36     https://myanimelist.net/anime/50160/Kingdom_4t...
37          https://myanimelist.net/anime/1/Cowboy_Bebop
...                                                  ...
23065  https://myanimelist.net/anime/43015/Isaku__Tsu...
23066  https://myanimelist.net/anime/53204/Isekai_Kit...
23067          https://myanimelist.net/anime/52630/Ke_Ai
23068     https://myanimelist.net/anime/53506/Yari_Agari
23069  https://myanimelist.net/anime/53027/Yuwang_Jungle

                      broadcast                  studios    source  \
33                          NaN            Studio Ghibli  Original
34       Sundays at 00:00 (JST)                    Shaft     Light
35                          NaN               Studio LAN  Original
36       Sundays at 00:00 (JST)                  Pierrot     Manga
37     Saturdays at 01:00 (JST)                  Sunrise  Original
...                         ...                      ...       ...
23065                       NaN            Studio Kyuuma    Visual
23066                       NaN                    Shion     Manga
23067                       NaN                 add some  Original
23068                       NaN                 add some  Original
23069                       NaN  Wong Ping Animation Lab  Original

                                       genres                   themes  \
33     Adventure, Award Winning, Supernatural                Mythology
34     Comedy, Mystery, Romance, Supernatural                  Vampire
35                        Drama, Supernatural  Adult Cast, Time Travel
36                                        NaN     Historical, Military
37                             Action, Sci-Fi        Adult Cast, Space
...                                       ...                      ...
23065                                     NaN                      NaN
23066                                     NaN                      NaN
23067             Avant Garde, Drama, Erotica                      NaN
23068                                     NaN                      NaN
23069                    Avant Garde, Erotica                      NaN

      demographic  popularity
33            NaN          44
34            NaN         279
35            NaN         842
36         Seinen        2981
37            NaN          43
...           ...         ...
23065         NaN       15105
23066         NaN       14519
23067         NaN       19681
23068         NaN       19474
23069         NaN       19921

[23037 rows x 11 columns]

### Hasil dari metode slice 2

In [10]:
print("Hasil Slice Menggunakan iloc:")
print(sliced_data_2)

Hasil Slice Menggunakan iloc:
              release_date  members  score  \
33     Jul 2001 - Jul 2001  1675950   8.78
34     Jul 2013 - Dec 2013   627148   8.77
35     Apr 2021 - Jul 2021   247367   8.77
36     Apr 2022 - Oct 2022    43501   8.77
37     Apr 1998 - Apr 1999  1683922   8.75
...                    ...      ...    ...
23065  Mar 1999 - Mar 1999      390   0.00
23066           Dec 2022 -      448   0.00
23067  Dec 2018 - Dec 2018       81   0.00
23068           Jan 2023 -       93   0.00
23069  Sep 2015 - Sep 2015       66   0.00

                                                 details  \
33     https://myanimelist.net/anime/199/Sen_to_Chihi...
34     https://myanimelist.net/anime/17074/Monogatari...
35     https://myanimelist.net/anime/44074/Shiguang_D...
36     https://myanimelist.net/anime/50160/Kingdom_4t...
37          https://myanimelist.net/anime/1/Cowboy_Bebop
...                                                  ...
23065  https://myanimelist.net/anime/43015/Isaku__Tsu...
23066  https://myanimelist.net/anime/53204/Isekai_Kit...
23067          https://myanimelist.net/anime/52630/Ke_Ai
23068     https://myanimelist.net/anime/53506/Yari_Agari
23069  https://myanimelist.net/anime/53027/Yuwang_Jungle

                      broadcast                  studios    source  \
33                          NaN            Studio Ghibli  Original
34       Sundays at 00:00 (JST)                    Shaft     Light
35                          NaN               Studio LAN  Original
36       Sundays at 00:00 (JST)                  Pierrot     Manga
37     Saturdays at 01:00 (JST)                  Sunrise  Original
...                         ...                      ...       ...
23065                       NaN            Studio Kyuuma    Visual
23066                       NaN                    Shion     Manga
23067                       NaN                 add some  Original
23068                       NaN                 add some  Original
23069                       NaN  Wong Ping Animation Lab  Original

                                       genres                   themes  \
33     Adventure, Award Winning, Supernatural                Mythology
34     Comedy, Mystery, Romance, Supernatural                  Vampire
35                        Drama, Supernatural  Adult Cast, Time Travel
36                                        NaN     Historical, Military
37                             Action, Sci-Fi        Adult Cast, Space
...                                       ...                      ...
23065                                     NaN                      NaN
23066                                     NaN                      NaN
23067             Avant Garde, Drama, Erotica                      NaN
23068                                     NaN                      NaN
23069                    Avant Garde, Erotica                      NaN

      demographic  popularity
33            NaN          44
34            NaN         279
35            NaN         842
36         Seinen        2981
37            NaN          43
...           ...         ...
23065         NaN       15105
23066         NaN       14519
23067         NaN       19681
23068         NaN       19474
23069         NaN       19921

[23037 rows x 11 columns]

### 5. Untuk menampilkan jumlah label dari semua attribute yang bernilai object

In [11]:
df.select_dtypes(include=['object']).value_counts()

title                           episodes     release_date         details                                                             broadcast                 studios           source    genres                                  themes                demographic
"Oshi no Ko"                    TV (? eps)   2023 -               https://myanimelist.net/anime/52034/Oshi_no_Ko                      Unknown                   Doga Kobo         Manga     Drama, Supernatural                     Music, Reincarnation  Seinen         1
Ookiku Furikabutte              TV (25 eps)  Apr 2007 - Sep 2007  https://myanimelist.net/anime/2159/Ookiku_Furikabutte               Unknown                   A-1 Pictures      Manga     Comedy, Sports                          Team Sports           Seinen         1
Orient: Awajishima Gekitou-hen  TV (12 eps)  Jul 2022 - Sep 2022  https://myanimelist.net/anime/51368/Orient__Awajishima_Gekitou-hen  Tuesdays at 01:30 (JST)   A.C.G.T.          Manga     Action, Adventure, Fantasy              Historical, Samurai   Shounen        1
Orient                          TV (12 eps)  Jan 2022 - Mar 2022  https://myanimelist.net/anime/45560/Orient                          Thursdays at 00:00 (JST)  A.C.G.T.          Manga     Action, Adventure, Fantasy              Historical, Samurai   Shounen        1
Ore wa Teppei                   TV (28 eps)  Sep 1977 - Mar 1978  https://myanimelist.net/anime/3827/Ore_wa_Teppei                    Unknown                   Nippon Animation  Manga     Action, Sports                          Combat Sports         Shounen        1
                                                                                                                                                                                                                                                                        ..
Hayate no Gotoku! Cuties        TV (12 eps)  Apr 2013 - Jul 2013  https://myanimelist.net/anime/16982/Hayate_no_Gotoku_Cuties         Tuesdays at 01:35 (JST)   Manglobe          Manga     Comedy, Romance                         Harem, Parody         Shounen        1
Hayate no Gotoku!!              TV (25 eps)  Apr 2009 - Sep 2009  https://myanimelist.net/anime/4192/Hayate_no_Gotoku                 Saturdays at 01:23 (JST)  J.C.Staff         Manga     Action, Comedy, Romance                 Harem, Parody         Shounen        1
Healin' Good♡Precure            TV (45 eps)  Feb 2020 - Feb 2021  https://myanimelist.net/anime/40610/Healin_Good♡Precure             Sundays at 08:30 (JST)    Toei Animation    Original  Action, Fantasy                         Mahou Shoujo          Shoujo         1
Heartcatch Precure!             TV (49 eps)  Feb 2010 - Jan 2011  https://myanimelist.net/anime/7645/Heartcatch_Precure               Sundays at 08:30 (JST)    Toei Animation    Original  Action, Comedy, Fantasy, Slice of Life  Mahou Shoujo, School  Shoujo         1
ēlDLIVE                         TV (12 eps)  Jan 2017 - Mar 2017  https://myanimelist.net/anime/32878/ēlDLIVE                         Sundays at 22:00 (JST)    Pierrot           Manga     Action, Sci-Fi                          Detective, Space      Shounen        1
Name: count, Length: 1144, dtype: int64